<h1>Carousel
  <a target="_blank" href="http://valor-software.com/ng2-bootstrap/#/carousel">
    <img alt="" src="assets/img//link-doc.png">
  </a>
</h1>
<p>A slideshow component for cycling through elements—images or slides of text—like a carousel. <em>Nested carousels are not supported.</em></p>
<h3>
  Example with Otional Captions
</h3>
<p>Add captions to your slides easily with the <code>.carousel-caption</code> element within any <code>&lt;slide&gt;</code>.
  Place just about any optional HTML within there and it will be automatically aligned and formatted.</p>

<div class="container">
  <carousel>
    <slide>
      <img src="assets/img/slider0.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Reception </h3>
        <p>Modern office reception area.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/slider1.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Mountains</h3>
        <p>Here is a stunning mountain scene.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/slider2.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Rainbow</h3>
        <p>Idylic home after a shower.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/slider3.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Golf course</h3>
        <p>Nice way to relax.</p>
      </div>
    </slide>
  </carousel>
</div>