<h1>Rating
  <a target="_blank" href="http://valor-software.com/ng2-bootstrap/#/rating">
    <img alt="" src="assets/img//link-doc.png">
  </a>
</h1>
<p>Rating component that will take care of visualising a star rating bar</p>
<hr>
<h3>
  Examples
</h3>
<div class="row">
  <div class="col-md-4">
    <h4>Static rating</h4>
    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" stateOn="fa fa-star" stateOff="fa fa-star-o" [titles]="['1']"></rating>
    <div class="card">
      <pre class="card-block card-text">Rate: <b>{{rate}}</b></pre>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Dynamic rating</h4>
    <rating [(ngModel)]="dynRate" [max]="dynMax" [readonly]="dynIsReadonly" (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
      [titles]="['one','two','three']" stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>
      <span class="label" [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
        [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
        <div class="card">
          <pre class="card-block card-text">Rate: <strong>{{dynRate}}</strong>;  Readonly is: <em>{{dynIsReadonly}}</em>;  Hovering over: <strong>{{overStar || "none"}}</strong></pre>
        </div>
        <p></p>

        <button type="button" class="btn btn-sm btn-danger" (click)="dynRate = 0" [disabled]="dynIsReadonly">Clear</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="dynIsReadonly = ! dynIsReadonly">Toggle Readonly</button>
  </div>
  <div class="col-md-4">
    <h4>Custom icons</h4>
    <div>
      <rating [(ngModel)]="x" max="15" stateOn="fa fa-check-circle" stateOff="fa fa-check-circle-o" style="color: #0275d8;" [titles]="['1']"></rating>
      <b>(<i>Rate:</i> {{x}})</b>
    </div>
    <div>
      <rating [(ngModel)]="y" [ratingStates]="ratingStates"></rating>
      <b>(<i>Rate:</i> {{y}})</b>
    </div>
  </div>
</div>