<h1>Popover
  <a target="_blank" href="http://valor-software.com/ng2-bootstrap/#/popover">
    <img alt="" src="assets/img//link-doc.png">
  </a>
</h1>
<p>Add small overlay content, like those found in iOS, to any element for housing secondary information.</p>
<hr>
<h3>
  Examples
</h3>
<div class="row">
  <div class="col-md-6">
    <h4>Four directions</h4>
    <p>
      Four positioning options are available: top, right, bottom, and left aligned.
    </p>
    <button type="button" class="btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
      popoverTitle="Popover on right" placement="right">
      Popover on right
      </button>

      <button type="button" class="btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        popoverTitle="Popover on top" placement="top">
        Popover on top
        </button>

        <button type="button" class="btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
          popoverTitle="Popover on bottom" placement="bottom">
          Popover on bottom
          </button>

          <button type="button" class="btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            popoverTitle="Popover on left" placement="left">
            Popover on left
            </button>
  </div>
  <div class="col-md-6">
    <h4>Dismiss on next click</h4>
    <p>Use the <code>focus</code> trigger to dismiss popovers on the next click that the user makes.</p>
    <button type="button" class="btn btn-success" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Dismissible popover"
      triggers="focus">
      Dismissible popover
      </button>
  </div>
</div>