<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        NG2-Bootstrap
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-dashboard"></i>
          <a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="active breadcrumb-item">
          <i class="fa fa-th-list"></i> ng2-bootstrap
        </li>
      </ol>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card card-block">
      <h4 class="card-title">Bootstrap components for Angular </h4>
      <p class="card-text">
        A demonstration of the components available in ng2-bootstrap from
        <a href="https://github.com/valor-software/ng2-bootstrap" target="_blank" class="card-link">valour-software</a>
      </p>
      <p>
        Each component is a minimal sample demonstration only. Whilst I endevour to keep these in sync with the latest versions from
        valor software the user is strongly encouraged to follow each demos link. This will take you to the relevant ng2-bootstrap
        page where the full demo, information and usage instructions are provided.
      </p>
      <p><em>Note</em>: Bootstrap 4 does not include glyphicons anymore, so if you want to use that font, you will need to add
        a link to <a href="https://github.com/valor-software/ng2-bootstrap/blob/master/demo/src/assets/css/glyphicons.css"><code>glyphicons.css</code></a>.
        This package has been built using Font Awesome and all the icons changed to the nearest Font Awesome equivelent.</p>

    </div>
    <div class="card card-block">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>