<div class="content-header">
  <h1>Accordion
    <a target="_blank" href="http://valor-software.com/ngx-bootstrap/#/accordion">
      <img alt="" src="assets/img//link-doc.png">
    </a>
  </h1>
</div>
<div class="content-box" id="content">
  <div class="section" id="example">
    <div class="item">
      <p>Displays collapsible content panels for presenting information in a limited amount of space</p>
      <p>The
        <strong>accordion component</strong> builds on top of the collapse directive to provide a list of items, with collapsible
        bodies that are collapsed or expanded by clicking on the item's header.</p>
    </div>
  </div>
</div>
<accordion>
  <accordion-group heading="Static Header, initially expanded" [panelClass]="customClass" [isOpen]="isFirstOpen">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>accordion 1</p>
  </accordion-group>
  <accordion-group heading="Content 2" panelClass="customClass">
    <p>accordion 2</p>
  </accordion-group>
</accordion>