<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Charts
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-fw fa-dashboard"></i>
          <a [routerLink]="['/dashboard/home']"> Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-fw fa-bar-chart-o"></i> NG2-Charts
        </li>
      </ol>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-xl-6">
      <div class="card card-block card-outline-primary">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
          [chartType]="lineChartType" [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card card-block card-outline-success">
        <canvas baseChart [datasets]="areaChartData" [labels]="areaChartLabels" [options]="areaChartOptions" [legend]="areaChartLegend"
          [chartType]="areaChartType" [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card card-block card-outline-warning">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card card-block card-outline-danger">
        <canvas baseChart [datasets]="timeChartData" [options]="timeChartOptions" [legend]="timeChartLegend" [chartType]="timeChartType"
          [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>