<h1>Progress Bar
  <a target="_blank" href="http://valor-software.com/ng2-bootstrap/#/progressbar">
    <img alt="" src="assets/img//link-doc.png">
  </a>
</h1>
<p>Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.</p>
<hr>
<h3>
  Examples
</h3>
<em>As of this implenetation NG2-bootstrap progress bars are not working correctly for BS4.  I recommend using BS4 progresss bars until this is fixed. </em>
<p></p>
<div class="row">
  <div class="col-md-4">
    <h4>Static</h4>
    <div class="row">
      <div class="col-sm-4">
        <progress class="progress" value="55" max="100"></progress>
      </div>
      <div class="col-sm-4">
        <progress class="progress progress-striped" value="22" max="100" type="warning">22%</progress>
      </div>
      <div class="col-sm-4">
        <progress class="progress progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progress>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <h4>Dynamic</h4>
    <progress class="progress progress-striped progress-animated" [max]="max" [value]="dynamic" style="height: 15px">
      <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
    </progress>

    <small><em>No animation</em></small>
    <progress class="progress progress-success progress-bar-striped" [value]="dynamic" [max]="100"><b>{{dynamic}}%</b></progress>

    <small><em>Object (changes type based on value)</em></small>
    <progress class="progress progress-striped progress-animated active progress-{{ type }}" [value]="dynamic" [max]="max">
      {{type}} <i *ngIf="showWarning">!!! Watch out !!!</i>
    </progress>
    <p></p>
    <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
  </div>
  <div class="col-md-4">
    <h4>Stacked</h4>
    <div class="row col-lg-12">
      <!-- todo: implement as component -->
      <progress *ngFor="let baz of stacked" class="progress progress-{{ baz?.type }}" style="float: left; height: 1rem" [ngStyle]="{width: baz.value + '%'}"
        [value]="baz.value" [max]="baz.max">
        <span *ngIf="baz.value > 3">{{baz?.value}}%</span>
        </progress>
        <!-- gray background -->
        <progress class="progress" value="0" max="100" style="width: 100%; height: 1rem"></progress>
    </div>
    <p></p>
    <div class="row col-md-12">
      <button type="button" class="btn btn-sm btn-primary" (click)="randomStacked()">Randomize</button>
    </div>
  </div>
</div>
